@import "../../styles/utils/vars";
@import "../../styles/utils/mixins";

.Feature {
  display: none;

  @include tablet {
    display: flex;
  }

  &__title {
    margin-top: 51px;

    @include fontParams(30px, 37px);
    color: $c-green;

    text-transform: uppercase;

    @include tablet {
      margin-top: 0;
    }
  }

  &--hide {
    display: none;
  }

  &__list {
    margin-top: 20px;
    margin-left: 1em;
  }

  &__item {
    @include fontParams(14px, 21px);
    color: $c-granit;

    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--mobile {
    display: contents;

    @include elementSize(278px, 326px);

    &-show {
      display: contents;
    }

    &-hide {
      display: none;
    }
    // &-2 {
    //   display: none;
    // }

    // &-3 {
    //   display: none;
    // }
  }

  &--1 {

    @include tablet {
      grid-column: 4 / 8;

      margin-top: 50px;
    }

    @include desktop {
      grid-column: 6 / 10;

      margin-top: 24px;
    }
  }

  &--2 {

    @include tablet {
      display: block;
      grid-column: 1 / 5;

      margin-top: 56px;
    }

    @include desktop {
      grid-column: 2 / 6;

      margin-top: 13px;
    }
  }

  &--3 {

    @include tablet {
      display: block;
      grid-column: 3 / 6;

      margin-top: 78px;
    }

    @include desktop {
      grid-column: 4 / 7;

      margin-top: 129px;
    }
  }
}